<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Club</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Book Club
    </h1>
    <!-- TODO: Add a comment describing the functionality of this helper -->
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{else}}
    <nav>
      <button class="btn" id="login">
        <span class="material-symbols-outlined">
          login
        </span>
      </button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{else}}
  <script src="/js/login.js"></script>
  {{/if}}
</body>

</html>