
    <section>
        <h1>Welcome to Reading Roundtables</h1>
        <p>Search books you love, want to read, and want to know more about!</p>
        <p>You can grow your collection and rate to your liking.</p>


    <form method="get" action="/search"><button onclick="console.log('SEARCH!')">
        <span class="material-symbols-outlined">
            local_library
        </span></button>
    <input type="text" name="bookSearch"/>
    </form>
</section>