<section>
    <h1>Welcome to Reading Roundtables</h1>
    <p>Search books you love, want to read, and want to know more about!</p>
    <p>You can grow your collection and rate to your liking.</p>

    <button onclick="console.log('SEARCH!')">Search</button>
    <input type="text" />
</section>