{{!-- <h2>Login</h2> --}}

<section id="login-form">
    <div class="container d-flex justify-content-center mb-5">
        <form class="p-5 login form login-form">
            <div class="form-group">
                <h1 for="exampleInputEmail1" class="my-2 text-center fw-bolder">Login</h1>
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control my-2 email" id="email-login" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control my-2 password" id="password-login" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
    </div>
</section>

{{!-- <form class="form login-form">
    <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit"><span class="material-symbols-outlined">
                login
            </span></button>
    </div>
</form> --}}


<script src="/js/login.js"></script>